<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
</head>
<body>
    <h1>Success, Welcome {{ users.firstname}}</h1>
    <div class="logout">
        <form action="logout" method="POST">
            {% csrf_token %}
            <input type="submit" name="logout" value="logout">
        </form>
       Successfully registered or logged in!!  
    </div>

</body>
</html>